:root {
  /* * @link https://utopia.fyi/type/calculator?c=320,21,1.2,1140,24,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */
--step--2: clamp(0.91rem, 0.89rem + 0.09vw, 0.96rem);
--step--1: clamp(1.09rem, 1.06rem + 0.19vw, 1.20rem);
--step-0: clamp(1.31rem, 1.24rem + 0.34vw, 1.50rem);
--step-1: clamp(1.58rem, 1.47rem + 0.55vw, 1.88rem);
--step-2: clamp(1.89rem, 1.73rem + 0.83vw, 2.34rem);
--step-3: clamp(2.27rem, 2.03rem + 1.20vw, 2.93rem);
--step-4: clamp(2.72rem, 2.38rem + 1.71vw, 3.66rem);
--step-5: clamp(3.27rem, 2.79rem + 2.39vw, 4.58rem);
--first-color: #022b3a; 
--first-alpha-color: #022b3a45;
--second-color: #f5ebe0; 
--card-color: #f5ebe0;
--third-color: #f5ebe060; 
--white-color: #fff; 
--black-color: #000;
--dark-color: #1f1f1f;
--light-color: #EEEEEE;
--link-color: #240046;
--title-color: #333;
--text-color: #222;
--white-alpha-color: rgba(255, 255, 255, 0.5);
--black-alpha-color: rgba(0, 0, 0, 0.75); 
--high-black-alpha-color: rgba(0, 0, 0, 0.9);
--javascript-color: #f7df1e;
--active: #e0aaff;
--ok-color: #4caf50;
--error-color: #f44336;
--fontSans: 'Raleway', sans-serif;
--fontWeightSans-900: 900;
--fontWeightSans-400: 400;
--max-width-1200px: 1200px;
--max-width-900px: 900px;
--header-height: 4rem;
--btn-shadow: -1px 3px 5px 6px #0008;
--card-shadow: 3px 8px 10px rgba(0, 0, 0, 0.70);
--card-shadow-light: 3px 8px 10px rgba(255, 255, 255, 0.20);
}

/* Reset */
html {
  box-sizing: border-box;
  font-family: var(--fontSans);
  font-size: 16px;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.dark {
  background-color: var(--dark-color);
  color: var(--light-color);
  transition: all 0.3s ease-in;
}

.light {
  transition: all 0.3s ease-in;
}


body {
  margin: 0;
  overflow-x: hidden;
  color: var(--text-color);
}

main {
  background-color: var(--third-color);
}

a {
  transition: all 0.5s ease-in-out;
  text-decoration: none;
  color: var(--text-color);
}

h1 {
  margin: 0;
  font-size: var(--step-5);
}

h2 {
  margin: 0;
  font-size: var(--step-4);
  
}

h3 {
  margin: 0;
  font-size: var(--step-3);
}

h4 {
  margin: var(--step--1);
  font-size: var(--step-2);
}

h5 {
  margin: 0;
  font-size: var(--step-1);
}

h6 {
  margin: 0;
  font-size: var(--step-0);
}

img, video, iframe {
  max-width: 100%;
  height: auto;
}

figure {
  margin: 0;
  background-color: var(--card-color);
}

p {
 font-size: var(--step--1);
 line-height: 2rem;
}

button {
  font-size: var(--step-0);
}

.responsive-media {
  position: relative;
  max-width: 100%;
  height: 0;
  /* 
  * Formato widescreen 16:9
  16 => 100%
  9 => 56.25%
  */
  padding-bottom: 56.25%
}

.responsive-media > * {
  position: absolute;
  width: 100%;
  height: 100%;
}

.section {
  padding: 2rem 1rem;
}

.container-1200px {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width-1200px);
}

.container-900px {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width-900px);
}

p::selection,
strong::selection,
span::selection,
cite::selection,
b::selection,
i::selection,
small::selection,
a::selection,
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection {
  background-color: var(--first-color);
  color: var(--light-color);
}

/* Utilities */
.none {
  display: none;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

/* 
  ? 320px / 16px = 20em
  ? 480px / 16px = 30em
  ? 600px / 16px = 37.5em
  ? 768px / 16px = 48em
  ? 1024px / 16px = 64em
  ? 1200px / 16px = 75em
*/

@keyframes showOpacity {
  0% {
    visibility: hidden;
    opacity: 0;
  }

  100% {
    visibility: visible;
    opacity: 1;
  }
}

@media screen and (min-width: 64em) {
  .full-lg-screen {
    width: 100%;
    min-height: 100vh;
  }
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}